<section class="phx-hero">
  <h1><%= gettext "Welcome to %{name}!", name: "dBay" %></h1>
  <p>A spurious auction site like eBay that<br/>doesn't work but teaches Elixir and Phoenix flawlessly.</p>
</section>

<ul>
  <%= for item <- @items do %>
    <li>
      <strong><%= item.title %></strong>: <%= item.description %>
    </li>
  <% end %>
</ul>
